@model XUser
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<container size="Xl">
    <form-field asp-for="UserName"></form-field>
    <form-field asp-for="Check"></form-field>
    <build-form model="Model"></build-form>
    <alert alert-type="Primary">
        Hello <strong> World</strong>
    </alert>
</container>